:root {
    --grey: #dbdbdb;
    --grey_dark: #828585;
    --primary: #00ccbc;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 25px;
    text-align: center;
    width: 95%;
    margin: 20px auto;
    color: #535656;
}

button {
    cursor: pointer;
}

input[type='submit'] {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.btn-info {
    border: 1px solid #013f36;
    background-color: white;
    color: #013f36;
    border-radius: 3px;
    padding: 6px 23px;
    cursor: pointer;
    margin: 5px;
}

.adress {
    cursor: pointer;
}


/* ERRORES */

.error,
#error--checked p {
    list-style: none;
    padding: 0;
    color: #b70000;
}
/* FIN ERRORES */

.correcto {
    list-style: none;
    padding: 0;
    color: #126d02;
}

@media (min-width: 675px) {
    .container-top {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 674px) {
    .container-btn-tags {
        width: 94%;
        margin: 0 auto;
        margin-bottom: 18px;
    }
}


/* h3 {
    font-family: 'Quicksand', sans-serif;
}

#gmail{
    font-family: 'Quicksand', sans-serif;
}

label{
    margin-left: 50%;
}

input{
    margin-left: 50%;
} */


/* NAV */

.menu_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 15px;
}

@media (max-width:466px) and (min-width:320px) {
    .menu_nav {
        flex-direction: column;
        row-gap: 17px;
        padding-bottom: 24px;
        align-items: center;
    }
}

.menu_nav .logo_nav img {
    width: 120px;
}

.menu_nav .registro_nav {
    border: 1px solid var(--grey);
    padding: 8px 15px;
    border-radius: 6px;
}

.menu_nav .registro_nav a {
    text-decoration: none;
    color: black;
}

.registro_nav .fa-home,
.registro_nav .fa-user-plus {
    color: var(--primary);
    margin-right: 9px;
}


/* FIN NAV */


/* LOGIN Y REGISTRO */

.page-1.login main {
    height: 60vh;
    display: flex;
    justify-content: center;
}

.bt_submit input {
    cursor: pointer;
}

.page-1.login main,
.page-2 main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-1.login label,
.page-2 label {
    color: var(--grey_dark);
    display: block;
}

.page-1.login input:not(input[type='submit']),
.page-2 input:not(input[type='submit']) {
    border: 1px solid var(--grey);
    border-radius: 3px;
    padding: 7px 0;
    width: 263px;
}

.page-1.login input[type='submit'],
.page-2 input[type='submit'] {
    background: var(--primary);
    color: white;
    border: 1px solid var(--primary);
    border-radius: 3px;
    font-weight: 700;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    transition: background-color 0.5s ease;
}

.page-1.login input[type='submit']:hover,
.page-2 input[type='submit']:hover {
    background: #00c2b3;
}

.page-1.login .form-group,
.page-2 .form-group {
    margin-top: 17px;
}


/* FIN LOGIN Y REGISTRO */


/* DV_HOME */

.container--info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-info-circle {
    cursor: pointer;
    color: var(--primary);
    transition: color 0.5s ease;
}

.fa-info-circle:hover {
    color: #029e92;
}


/* FIN DV_HOME */


/* MODAL */

.modal {
    display: none;
}


/* FIN MODAL */


/* MODAL TAG */

.rowTag {
    display: flex;
    height: fit-content;
}

#mostrarTags span {
    padding: 1px 4px 1px 4px;
    margin: 5px 5px 5px 0;
    border: 1px solid black;
    border-radius: 10px;
}

#mostrarTags span i {
    padding: 5px;
}

#tags {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ventanaTags {
    overflow-x: auto;
    white-space: nowrap;
}

.tag {
    display: inline-block;
    width: fit-content;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    margin: 6px 6px 0 0;
}

.title-tag {
    margin-right: auto;
    padding: 4px;
}

.close-tag {
    cursor: pointer;
    padding: 4px;
    margin-left: auto;
}

.modal-tag {
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #cccccc;
    background-color: #fdfdfd;
    z-index: 5;
    padding: 10px 30px;
    border-radius: 5px;
    width: 350px;
}

@media(max-width: 429px) {
    .modal-tag {
        width: 233px;
    }
}

.close-modal-tag {
    background-color: rgba(0, 0, 0, 0.287);
    display: flex;
    width: 100%;
}

#table-tag {
    margin: 0;
    width: 100%;
}


/* FIN MODAL TAG */


/* PROGRESO VALORACIÓN */

.container--progress {
    position: relative;
    width: 200px;
    height: 40px;
}

.capa-progress {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url('../img/forkoverlay1.png');
    background-size: cover;
    z-index: 2;
}

.progress {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: var(--primary);
}


/* FIN PROGRESO VALORACIÓN */


/* HOME */

#section-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 95%;
    margin: 0 auto;
}

#section-3>div {
    border: 1px solid var(--grey);
    border-radius: 5px;
    box-shadow: 5px 3px 9px 1px #d8d8d8;
}

@media (max-width:545px) and (min-width:320px) {
    #section-3 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:917px) and (min-width:546px) {
    #section-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

#section-3 .container-img {
    position: relative;
}

#section-3 .container-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.fa-star {
    position: absolute;
    color: rgb(255 255 255);
    top: 13px;
    right: 13px;
    transition: color 0.5s ease;
    transform: scale(1.7);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.fa-star:hover,
.fa-star.active {
    color: #FED000;
}

.fa-star:before {
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0px;
}

i.fas.fa-star:after {
    content: '\f005';
    position: absolute;
    top: 0px;
    left: 0px;
    transform: scale(1.2);
    color: rgba(8, 8, 8, 0.25);
}

#section-3 .container-details {
    padding: 0 20px;
}

#section-3 .container-details h4 {
    font-weight: 400;
    color: #8d8a8a;
}

#section-3 .container-details h4:first-of-type {
    font-size: 18px;
    color: black;
    font-weight: 700;
}

.fa-filter {
    color: var(--primary);
    cursor: pointer;
}

.container--filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

@media (max-width: 675px) and (min-width:320px) {
    .container--filter {
        max-width: 80%;
        margin: 40px auto;
        margin-left: 20px;
        margin-bottom: 10px;
    }
}

@media (max-width: 412px) and (min-width:320px) {
    .container--filter .form-control {
        max-width: 180px;
    }
}



.container--filter .form-control {
    width: 313px;
    height: 35px;
    border-radius: 4px;
    background-color: whitesmoke;
    border: 1px solid #d6d6d6;
    padding-left: 17px;
}


/* MODAL */


/* @media (max-width: 412px) and (min-width:320px) {
    .modal {
        width: 273px;
    }
} */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #cccccc;
    background-color: #fdfdfd;
    z-index: 5;
    padding: 10px 30px;
    border-radius: 5px;
    min-width: 229px;
}

.close--modal {
    display: flex;
    justify-content: flex-end;
}


/* MAP */

.map--modal {
    width: 1000px;
    height: 500px;
    margin: auto;
}

.close--modal-map {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.content-marker--home {
    display: flex;
    margin: auto;
    color: white;
    margin-top: 7px;
    cursor: pointer;
    width: max-content;
    transition: color 0.5s ease;
}

.calc-route:hover {
    color: rgb(228, 228, 228);
}

.calc-route--verRest {
    display: inline-block;
    color: rgb(102, 102, 102);
    transition: color 0.5s ease;
    cursor: pointer;
}

.calc-route--verRest:hover {
    color: black;
}

.fa-map-marker-alt {
    color: rgb(102, 102, 102);
}

.fa-map-marker-alt.mk-home {
    color: white;
    margin-right: 5px;
}

.content-marker {
    margin-top: 8px;
    margin-bottom: 30px;
}

@media (max-width:1078px) and (min-width:768px) {
    .map--modal {
        width: 700px;
        height: 400px;
    }
    .close--modal-map {
        width: 700px;
    }
}

@media (max-width:767px) and (min-width:540px) {
    .map--modal {
        width: 500px;
        height: 500px;
    }
    .close--modal-map {
        width: 500px;
    }
}

@media (max-width:539px) {
    .map--modal {
        width: 300px;
        height: 500px;
    }
    .close--modal-map {
        width: 300px;
    }
}

.close--map {
    cursor: pointer;
    font-size: 35px;
    color: #070707;
    font-weight: bold;
    text-shadow: 2px -1px 0px white;
}

.map--ver-restaurant {
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    max-width: fill-available;
    height: 500px;
}

.display-none {
    display: none;
}

.map--create-modify {
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    max-width: fill-available;
    height: 500px;
}

.container--map {
    margin-bottom: 18px;
    margin-top: 30px;
}

.icon-map {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* REVIEW */
#section-3 .container-details .icon-map h4,
.fa-map-marked-alt {
    color: #00988c;
    transition: color 0.5s ease;
}
#section-3 .container-details .icon-map h4:hover {
    color: #02443f;
}

.fa-map-marked-alt:hover {
    color: #02443f;
}

.modal-map {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    /* padding-top: 100px; */
    padding-top: 0;
    /* Location of the box */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* END MAP */
#modal-filter form div.container--tag-categorias,
#modal-filter form div.container--precio-valoracion {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10%; 
}



#modal-filter form {
    line-height: 2.2;
}

#modal-filter form div {
    display: flex;
    flex-direction: column;
}

#modal-filter form .container-tipo-cocina {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

#modal-filter form .container-tipo-cocina label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;  
}

#modal-filter form div.container--tag-categorias p {
    margin: 5px 0;
}

@media (max-width:425px) {
    #modal-filter form div.container--tag-categorias {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

#modal-filter form .container-tipo-cocina input {
    /* justify-self: start; */
    justify-self: flex-end;
}

#modal-filter form input {
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}

#modal-filter form div input[type='number'] {
    height: 21px;
    width: 67px;
}

.modal-content .close {
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
    width: min-content;
    cursor: pointer;
}

#modal-filter form div.form-btn {
    display: flex;
    justify-content: space-around;
    margin: 13px 0;
    flex-direction: row;
}

#modal-filter form div.form-btn div {
    display: inline-block;
}

#modal-filter form div.form-btn input[type="submit"] {
    color: white;
    background-color: #00ccbc;
    border-color: #00ccbc;
    padding: 6px;
    padding: 9px 20px;
    cursor: pointer;
}

#modal-filter form div.form-btn input[type="reset"] {
    color: #00ccbc;
    background-color: #faf8f8;
    padding: 9px 20px;
    cursor: pointer;
}


/* END MODAL */


/* END HOME */


/* DV_ADMIN */

.dv_admin .registros {
    width: 94%;
    margin: 0 auto;
    margin-bottom: 28px;
}

@media (max-width:675px) and (min-width:320px) {
    .dv_admin .registros {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .dv_admin .registros a {
        margin-top: 20px;
        max-width: 156px;
    }
}

.dv_admin .registros a {
    text-decoration: none;
    color: #015e57;
    border: 1px solid #025d55;
    border-radius: 3px;
    padding: 6px 23px;
    margin-right: 26px;
}

.dv_admin .btn--modificar-eliminar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.dv_admin .btn--modificar-eliminar button {
    border: 1px solid #760303;
    background-color: white;
    color: #760303;
    border-radius: 3px;
    padding: 6px 23px;
}

.dv_admin .btn--modificar-eliminar a {
    text-decoration: none;
    color: #00867c;
    border: 1px solid #00867c;
    border-radius: 3px;
    padding: 6px 23px;
    margin-right: 18px;
}


/* FIN DV_ADMIN */


/* DV_REGISTER */

.pg-register .form-crear .container-tipo-cocina,
.pg-modificar .container-tipo-cocina {
    display: flex;
}

.pg-register .form-crear,
.pg-modificar .form-modificar {
    max-width: 250px;
    margin: 32px auto;
}

.pg-register .form-crear input:not(input[type='file']),
.pg-modificar input:not(input[type='file']) {
    border-radius: 3px;
    padding: 6px 23px;
    margin-right: 26px;
    border: 1px solid #d7d4d4;
}

.pg-register .form-crear textarea,
.pg-modificar textarea {
    border: 1px solid #d7d4d4;
    width: 197px;
}

.pg-register .form-crear input[type='submit'],
.pg-modificar input[type='submit'] {
    color: white;
    background-color: #00ccbc;
    border: none;
    padding: 6px;
    padding: 9px 20px;
    border: none!important;
}

@media (max-width:488px) and (min-width:320px) {
    .pg-register .form-crear input[type='file'],
    .pg-modificar input[type='file'] {
        max-width: 251px;
    }
}

.pg-register .errores,
.pg-modificar .errores {
    max-width: 250px;
    margin: 32px auto;
}


/* FIN DV_REGISTER */


/* VER RESTAURANTE */

.pg-verRestaurante main {
    width: 70%;
    margin: 0 auto;
}

.btn--enviarComentario {
    border: none;
    background-color: var(--primary);
    color: #ffffff;
    border-radius: 3px;
    padding: 6px 23px;
    display: block;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btn--enviarComentario:hover {
    background-color: #029e92;
}

@media (min-width: 768) and (max-width: 1161px) {
    .pg-verRestaurante main {
        width: 90%;
        margin: 0 auto;
    }
}

.pg-verRestaurante .datos_restaurante {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

@media (min-width: 768) and (max-width: 1161px) {
    .pg-verRestaurante .datos_restaurante {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.pg-verRestaurante .container--imagenRestaurante {
    display: flex;
    justify-content: flex-end;
}

.pg-verRestaurante .comentario {
    border-bottom: 1px solid #d2d2d2;
}


/* FIN VER RESTAURANTE */

.fork {
    display: inline-block;
}

.fork .fork-inner {
    width: 40px;
    height: 40px;
    background-image: url('../img/forkoverlay1.png');
    background-size: cover;
    z-index: 2;
    display: inline-block;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.fork1:hover>.fork-inner {
    background-color: var(--primary);
}

.fork2:hover>.fork-inner {
    background-color: var(--primary);
}

.fork3:hover>.fork-inner {
    background-color: var(--primary);
}

.fork4:hover>.fork-inner {
    background-color: var(--primary);
}

.fork5:hover>.fork-inner {
    background-color: var(--primary);
}

footer {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    background-color: #2e3333;
    color: white;
}

footer div {
    background-color: #444444;
    padding: 5px 26px;
    margin: 20px 0px;
    border-radius: 3px;
}

@media (max-width:500px) {
    footer {
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }
}

@media (max-width:697px) {
    footer div {
        background-color: inherit;
        padding: initial;
        margin: initial;
    }
    footer p {
        display: none;
    }
}


/* CATEGORIAS */

.gestorCategorias {
    width: 75%;
    margin: auto;
}

.gestorCategorias table {
    margin: auto;
}

.input {
    display: flex;
}

#cat {
    height: 35px;
    padding-left: 15px;
    font-size: 15px;
    margin: auto;
    margin-top: 5px;
}

#gestorTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#gestorTable td,
#gestorTable th {
    border: 1px solid #dddddda1;
    padding: 8px;
}

#gestorTable tr:nth-child(even) {
    background-color: #dddddda1;
}

#gestorTable tr:hover {
    background-color: #dddddda1;
}

#gestorTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00CCBC;
    color: white;
}

.msgTagDisplay {
    display: block;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 255, 0, 0.8);
    padding: 15px 50px;
    font-size: 25px;
    border: 1px solid rgba(0, 182, 0);
    border-radius: 15px;
}


/* modal categoria */

.modal-cat {
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #cccccc;
    background-color: #fdfdfd;
    z-index: 5;
    padding: 10px 30px;
    border-radius: 5px;
    width: 350px;
}

.modal-content-cat {
    display: flex;
    flex-direction: column;
}

.close-modal-cat {
    background-color: rgba(0, 0, 0, 0.287);
    display: flex;
    width: 100%;
}

.labelCat {
    padding: 15px;
    margin-top: 5px;
}

.containerFlex {
    padding: 5px;
    display: flex;
}

.btn-margin {
    margin: auto;
}